{% extends "layout.html" %}


{% block mainContent %}

{% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

<h1 id="title">{{event.title}}</h1>

<div class="event-detail" id="event-image">
    <img id="image" src="{{event.image}}" height="200">
</div>
<div class="event-detail">
    <span id="date"><strong>Date & time:</strong> <time datetime="{{event.date}}">{{event.date|prettyDate}}.</time></span>
</div>
<div class="event-detail">
    <span id="location"><strong>Location:</strong> {{event.location}}</span>
</div>
<div class="event-detail"> 
    <strong>Attendees: </strong>{{event.attending.length}} people are going. They are:
    <ul id="attendees">
      {% for item in event.attending %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
</div>

<div class="container">
	
	<form id="rsvp" method="POST">
	
	<fieldset>
	  <legend>RSVP</legend>
  
    <div class="form-group">
    
	<label for="email">Yale E-mail:</label>
    <input type="email" id="email"  class="form-control" placeholder="E-mail (@yale.edu only)" name="email" style="width: 400px;"><br>
 
    <label for="submit"></label>
    <input id="submit" type="submit" value="Submit" class="btn btn-primary">
    
    </div>
    
  </fieldset>    
    
  </form>
  
</div>
 
<div>
    <a class="btn btn-primary" id="button" href="/events/new">Create a new event</a>
</div>



{% endblock %}