{% extends "layout.html" %}

{% block header %}
 <header>
    <span class="header">
      <div class="header-logo-home">
       <img id="logo" src = "../images/pblogo.png" height="150px"> 
      </div>
    </span>
  </header>
  
{% endblock %}


{% block mainContent %}
    
  <p>
    <h3>Welcome to {{ title }}. {{ tagline }}</h3>
  </p>
  <p>
    Check out the <a href="/about">About us</a> page.<br>
    Check out the <a href="/events">Events</a> page.
  </p>
  <h4>Upcoming Powerful Bang Events:</h4>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
 
 <a class="btn btn-primary" href="/events/new" role="button" id="new">Create New Event</a>  
 

{% endblock %}